<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="\stylesheets\nav.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\post.css">
    <title>Document</title>
</head>
<body>
    <h>发帖</h>
    <form action="./ask" method="post">
        <tr>
            <td>招聘主题<input type="text" name="title"/></td></br>
            <td>活动地点<input type="text" name="place"/></td></br>
            <td>所处行业<input type="text" name="business"/></td></br>
            <td>活动类型<input type="text" name="type"/></td></br>
            <td>活动时间<input type="text" name="year"/>年</td>
            <td><input type="text" name="month"/>月</td>
            <td><input type="text" name="day"/>日</td>
            &nbsp&nbsp&nbsp&nbsp
            <td><input type="text" name="hour"/>:</td>
            <td><input type="text" name="minute"/></td></br>

            <!-- <td>活动内容<input type="text" name="content"/></td></br> -->
            <td>联系人：名称<input type="text" name="name"/></td></br>
            <td>电话<input type="text" name="phone"/></td></br>
            <td>邮箱<input type="text" name="email"/></td></br>
            <td>微信<input type="text" name="wechat"/></td></br>
            <td>QQ<input type="text" name="QQ"/></td></br>
            <table border="0">
                <tr>
                    <td valign="top" style="color: #6c2393">
                        活动内容
                    </td>
    
                    <td>
                        <textarea class="content" id="content" name="content"></textarea>
                    </td>
                </tr>
            </table>
            <td>
                <input type="hidden" name="subflag" value="1"/>
                <input type="submit" value="Insert"/>
            </td>
        </tr> 

    </form>
</body>
</html>