<% include zpheader %>

<div style="background-color: #fff;width: 1000px;height: 765px;margin: 0 auto;">
    
    <div style="padding-left: 50px;padding-top: 25px;padding-right: 50px;">
        
        <form class="form-post" action="./emy" method="post">
            
            <label for="theme" style="color: #6c2393;">招聘主题<label class="required">*</label></label>
            <input type="text" name="title" id="theme" class="theme-box" autofocus required pattern="^.{1,20}$" oninvalid="setCustomValidity('请控制在20字以内')" oninput="setCustomValidity('')">
            
            <br>
    
            <label for="place" style="color: #6c2393;">活动地点<label class="required">*</label></label>
            <input type="text" name="place" id="place" class="place-box" required pattern="^.{1,20}$" oninvalid="setCustomValidity('请控制在20字以内')" oninput="setCustomValidity('')">
    
            <label for="trade" style="margin-left: 53px;color: #6c2393;">所处行业<label class="required">*</label></label>
            <select name="business" id="trade" class="trade-select" required oninvalid="setCustomValidity('请选择所处行业')" oninput="setCustomValidity('')">
                <option disabled selected value>请选择...</option>
                <option value="IT互联网">IT互联网</option>
                <option value="金融">金融</option>
                <option value="广告">广告</option>
                <option value="房地产">房地产</option>
                <option value="消费品">消费品</option>
                <option value="制造业">制造业</option>
                <option value="其他">其他</option>
            </select>
    
            <br>
    
            <label style="color: #6c2393;">活动类型<label class="required">*</label></label>
            <input type="checkbox" name="type1" style="margin-left: 15px;vertical-align:middle;" value="宣讲">
            宣讲
            <input type="checkbox" name="type2" style="margin-left: 30px;vertical-align:middle;">
            招聘
    
            <label for="year" style="margin-left: 171px;color: #6c2393;">活动时间<label class="required">*</label></label>
    
            <input type="date" name="date" class="date" required oninvalid="setCustomValidity('请选择日期')" oninput="setCustomValidity('')" onclick="noChoose();">
    
            <select name="hour" id="hours" class="time2-select">
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>:
            <select name="minute" id="minute" class="time-select">
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
    
            <hr class="hr2">
    
            <table border="0">
                <tr>
                    <td valign="top" style="color: #6c2393">
                        活动内容<label class="required">*</label>
                    </td>
    
                    <td>
                        <textarea class="content" id="content" name="content" required pattern="^.{1,750}$" oninvalid="setCustomValidity('请控制在750字以内')" oninput="setCustomValidity('')"></textarea>
                    </td>
                </tr>
            </table>
    
            <hr class="hr2" style="margin-bottom: 23px;">
    
            <label style="color: #6c2393;">联系方式</label>
            <label style="color: #515151;margin-left: 15px">名称<label class="required">*</label></label>
            <input type="text" name="name" id="name" class="contact-box" required pattern="^.{1,8}$" oninvalid="setCustomValidity('请控制在8字以内')" oninput="setCustomValidity('')">
    
            <label style="color: #515151;margin-left: 45px">电话<label class="required">*</label></label>
            <input type="text" name="phone" id="name" class="contact-box" required pattern="^[0-9]{11,11}$" oninvalid="setCustomValidity('请输入正确的手机号码')" oninput="setCustomValidity('')">
    
            <label style="color: #515151;margin-left: 45px">邮箱</label>
            <input type="email" name="email" id="name" class="email-box" oninvalid="setCustomValidity('请输入正确的邮箱')" oninput="setCustomValidity('')">
    
            <br>
    
            <label style="color: #515151;margin-left: 67px">微信</label>
            <input type="text" name="wechat" id="name" class="contact-box" style="margin-left: 12px;" pattern="^.{1,20}$" oninvalid="setCustomValidity('请控制在20字以内')" oninput="setCustomValidity('')">
    
            <label style="color: #515151;margin-left: 45px">QQ</label>
            <input type="text" name="QQ" id="name" class="contact-box"  style="margin-left: 19px;" pattern="^.{1,15}$" oninvalid="setCustomValidity('请控制在15字以内')" oninput="setCustomValidity('')">
    
            <br>
    
            <div style="float: right;margin-top: 10px;">
                
                <input type="checkbox" id="cbox" class="check-box" name="agree" value="1" required>
                <label for="cbox">已同意</label>
                <a href="rules.html" class="rule">《Zippping管理规定》</a>
                <input type="hidden" name="subflag" value="1"/>
                <input type="submit" class="post" value="提交">
    
            </div>
        </form>
    </div>
    
    </div>
    <script>
        function noChoose() {
            if ( !($(":checkbox[name='type1']").is(':checked')) && !($(":checkbox[name='type2']").is(':checked')) )
                alert("请至少选择一种活动类型");
        }
    </script>
    
    <script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.slim.min.js"></script>
    </body>
    
    </html>