<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Zippping</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/detail.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/collection.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">  
	<script src="/javascripts/jquery-1.10.2.js"></script>
	<script src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
</head>
<body style="margin: 0;padding: 0;background-color: #F2F2F2">
<% if(loginbean==undefined){ %> 
<div class="top1">
	<div style="width: 1000px;height: 70px;margin: 0 auto;">
		<img src="../images/logo_S.gif" style="
		width: 195px;
		height: 50px;
		padding-top: 10px;
		padding-left: 30px">

		<div class="inside" style="margin-right: 20px;border:none;color: #434343">
			<a href="/users/login" style="color: #434343">登录</a> / 
			<a href="/users/register" style="color: #434343">注册</a>
		</div>

		<div class="inside">
			<a onclick="alert('需登录后执行')" href="#">我要发帖</a>
		</div>

		<div class="inside">
			<a onclick="alert('需登录后执行')" href="#">我的收藏</a>
		</div>
	</div>
</div>
<% }else{ %> 
	<div class="top1">
        <div style="width: 1000px;height: 70px;margin: 0 auto;">
            <img src="/images/logo_S.gif" style="
            width: 195px;
            height: 50px;
            padding-top: 10px;
            padding-left: 30px">
    
            <div class="inside2" style="margin-right: 20px;border:none;color: #434343">
                <a  href="#" onClick="javascript:location.href='/logout'">退出</a>
            </div>
    
            <div class="inside2"><a href="/employment/emy">我要发帖</a></div>
            <div class="inside2"><a href="/employment/eplist">我发的贴</a></div>
            <div class="inside2"><a href="/employment/collection/list">我的收藏</a></div>
            <div class="inside2"><a href="#" style="color: #6c2393;font-weight: 500"><%=loginbean.nicheng%></a></div>
        </div>
    </div>
<% } %> 


<div class="top2">
	<div style="width: 1000px;height: 24px;margin: 0 auto;">
		<ul>
			<li style="padding-left: 176px"><a href="/">首页</a></li>
			<li><a href="/?business=IT互联网">IT互联网</a></li>
			<li><a href="/?business=金融">金融</a></li>
			<li><a href="/?business=广告">广告</a></li>
			<li><a href="/?business=房地产">房地产</a></li>
			<li><a href="/?business=消费品">消费品</a></li>
			<li><a href="/?business=制造业">制造业</a></li>
			<li><a href="/?business=其他">其他</a></li>
			<li style="float: right;margin-right: 20px"><a href="#">帮助</a></li>
		</ul>
	</div>
</div>



