	td.title{
		color: #6c2393;
		font-size: 12px;
		padding: 7px 15px 7px 0px;
	}

	td.text1{
		color: #434343;
		font-size: 12px;
		width: 245px;
		padding:7px 25px 7px 0px;
	}

	td.text2{
		color: #434343;
		font-size: 12px;
		width: 130px;
		padding:7px 25px 7px 0px;
	}

	td.text3{
		color: #434343;
		font-size: 12px;
		width: 160px;
		padding:7px 25px 7px 0px;
	}

	td.name{
		color: #434343;
		font-size: 12px;
		width: 220px;	
	}

	td.contact{
		color: #434343;
		font-size: 12px;
		width: 220px;	
	}

	textarea{
		color: #434343;
		font-size: 12px;
		margin-top: 3px;
		padding:0px 10px 0px 0px;
		width: 810px;
		height: 380px;
		max-height: 380px;
		line-height: 24px;
		overflow-y:auto;
		border: none;
	}

	div.collection{
		float: right;
		padding-right: 50px;
		padding-top: 25px;
	}

	div.colectitle{
		font-size: 12px;
		background-color:#6c2393;
		color: white;
		width: 46px;
		text-align: center;
		border-radius:5px;
		padding: 2px 0px;
		margin-right: 15px;
	}

	img.collect{
		width: 14px;
		height: 14px;
		padding-left: 20px; 
	}

	input.exam-gray{
		float: right;
		font-size: 12px;
		color: #fff;
		background-color: #434343;
		border-radius: 5px;
		padding: 2px 10px;
		border: none;
		margin-right: 50px;
		margin-top: 10px;
	}

	input.exam-green{
		float: right;
		font-size: 12px;
		color: #fff;
		background-color: #90c31f;
		border-radius: 5px;
		padding: 2px 10px;
		border: none;
		margin-right: 10px;
		margin-top: 10px;
	}

	input.exam-purple{
		float: right;
		font-size: 12px;
		color: #fff;
		background-color: #6c2393;
		border-radius: 5px;
		padding: 2px 10px;
		border: none;
		margin-right: 10px;
		margin-top: 10px;
	}

	input[type="checkbox"]+label::before {
		content: '';
		display: inline-block;
		margin: 0 0 0 20px;
	}


	.one-box {
		position: absolute;
		clip: rect(0,0,0,0);	
	}